<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2024 LibreMobileOS Foundation

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.libremobileos.stats">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:label="@string/stats_collection_title"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stats">
        <activity
            android:name=".StatsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/stats_collection_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.more_security_privacy_settings" />
            <meta-data android:name="com.android.settings.order" android:value="199"/>
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/anonymous_statistics_summary" />
        </activity>

        <!-- Anonymous Statistics -->
        <receiver
            android:name=".ReportingServiceManager"
            android:enabled="true"
            android:exported="false"
            android:label="ReportingServiceManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.android.settings.action.TRIGGER_REPORT_METRICS" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ReportingService"
            android:enabled="true"
            android:exported="false"
            android:label="ReportingService" />

        <service
            android:name=".StatsUploadJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>
